

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #0c1730;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: "Poppins", sans-serif  ;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;

}
ul{
    list-style: none;
}
/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.flex{ 
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;

}
.hover-links:hover{
    color: var(--accent-color);
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 600;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;

}

.primary-button:hover{
    background-color: var(--accent-color-dark);

}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline: var(--padding-inline-section); 
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;

}
.top-banner{
    background-size: 300px;
    background-color: #1d69a3;
    background-image: url('./assets/top.png');

}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.company-logo img{
    width: 200px !important;
    margin-left: -30px;
}
.nav-links ul{
    justify-content: end;
    gap: 35px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul li{
    font-weight: 600;
}
.nav-toggle{
    display: none;
}
/* header Section */
.header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}
.get-start-btn{
    margin-top: 20px;
}

.header-right img{
    width: 100%;
}

/* Comapnies Section */
.companies-section{
    margin-block: 40px;
}
.comapnies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;


}
.logo{
    height: auto;
    width: 130px !important;
}

/* features section */
.features-section{
    margin-top: 30px;
    padding: 80px var(--padding-inline-section 0);
    background-image: url('./assets/bgimage.png');


}
.features-area{
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-header h2{
    margin-bottom: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    margin-top: 0%;
}
/* big feature section */
.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container{
    gap: 40px;
}
.feature-img img{
    width: 500px;

}
#second-big-feature{
    flex-direction: row-reverse;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

/* examples section */
.example-section{
    padding: 80px var(--padding-inline-section);

}
.examples-header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.example-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background-size: cover;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/interface.jpg);
    transition: 0.2s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.example-card:nth-child(2){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/24.jpg);
    background-size: cover;

}
.example-card:nth-child(3){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/a1900302-fbbf-448b-969f-759eb7698f23.png);
    background-size: cover;

}
.example-card:nth-child(4){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/ec74d465f786dd4602fb2cc30756839c.jpg);
    background-size: cover;

}
.card-text{
    position: absolute;

    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
/* cta section */
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}
.cta-section{
    background-color: #0c1730;
    padding: 120px var(--padding-inline-section)80px;

}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
